/* RESET GENERALE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    height: 2em;
    background: #9b2226;
    border: #264653 1px solid;
}

.b2 {
    background: #ae2012;
}

.b3 {
    background: #bb3e03;
}

.b4 {
    background: #ca6702;
}

.b5 {
    background: #ee9b00;
}

.b6 {
    background: #e9d8a6;
}

.b7 {
    background: #94d2bd;
}

.b8 {
    background: #0a9396;
}

.b9 {
    background: #005f73;
}

.b10 {
    background: #001219;
}

.box.doble {
    height: 4em;
    background: #e9d8a6;
    border: #264653 1px solid;
    display: flex;
    align-items: center;
}

.mb-20 {
    margin-bottom: 20px;
}

