* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    height: 1em;
    display: flex;
}

.h-100vh {
    height: 100vh;   
}

.container-50prc {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}



.move {
    display: none;
}

.container-50prc:hover .move {
    display: block;
}

.container-50prc:hover .remove {
    display: none;
}

.container-50prc:hover .changeblue {
    background: #416798;
}

.container-50prc:hover .changeorange {
    background: #fc7939;
}

.container-50prc:active .kame {
    width: 700px;
    transition: width .5s;
    background-image: linear-gradient(to right, #a9d6e5 , #013a63);
}

.bg {
    background-image: linear-gradient(brown , green);
}


.black {
    background: black;
}

.skin {
    background: #e2c598;
}

.blue {
    background: #416798;
}

.red {
    background: #bc2b34;
}

.orange {
    background: #fc7939;
}

.light {
    background: #a9d6e5;
}

.grey {
    background: rgba(177, 177, 177);
}